@using WebApp.UI.Controllers

@{
    ViewBag.Title = "Отчет. Поставки готовой продукции заказа";
}

<div class="row">
    <div class="col-md-12">
        <h4>Отчет <small>Поставки готовой продукции заказа</small></h4>
        <hr />
    </div>
</div>

<div class="row">
    <div id="orderProductAddressDeliverySizes" class="col-md-12">
        @Html.Action(nameof(OrderProductAddressDeliverySizesReportController._OrderProductAddressDeliverySizes))
    </div>
</div>

