@using WebApp.UI.Controllers

@{
    ViewBag.Title = "Отчет. Размерные данные продукции заказа";
}

<div class="row">
    <div class="col-md-12">
        <h4>Отчет <small>Размерные данные продукции заказа</small></h4>
        <hr />
    </div>
</div>

<div class="row">
    <div id="orderProductAddressSizes" class="col-md-12">
        @Html.Action(nameof(OrderProductAddressSizesReportController._OrderProductAddressSizes))
    </div>
</div>

