@using WebApp.UI.Controllers

@{
    ViewBag.Title = "Отчет. Производство продукции заказа";
}

<div class="row">
    <div class="col-md-12">
        <h4>Отчет <small>Производство продукции заказа</small></h4>
        <hr />
    </div>
</div>

<div class="row">
    <div id="orderProductAddressProductionDateSizes" class="col-md-12">
        @Html.Action(nameof(OrderProductAddressProductionDateSizesReportController._OrderProductAddressProductionDateSizes))
    </div>
</div>

