@using WebApp.UI.Controllers

@{
    ViewBag.Title = "Отчет. Заказы";
}

<div class="row">
    <div class="col-md-12">
        <h4>Отчет <small>Заказы</small></h4>
        <hr />
    </div>
</div>

<div class="row">
    <div id="orders" class="col-md-12">
        @Html.Action(nameof(OrdersReportController._Orders))
    </div>
</div>

