@using WebApp.UI.Controllers

@{
    ViewBag.Title = "Отчет. Продукция";
}

<div class="row">
    <div class="col-md-12">
        <h4>Отчет <small>Продукция</small></h4>
        <hr />
    </div>
</div>

<div class="row">
    <div id="products" class="col-md-12">
        @Html.Action(nameof(ProductsReportController._Products))
    </div>
</div>

